#local-contexts.default {
    height: 0;
    overflow: hidden;
}

.local-contexts-group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.local-context-group {
    display: flex;
    flex-wrap: wrap;
}

.local-context {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    padding: 1rem;
}

#local-contexts .inputs, 
#local-contexts .inputs.localcontexts {
    flex-wrap: wrap;
    align-items: flex-start;
    line-height: unset;
}

#local-contexts .name {
    display: block;
    font-weight: bold;
}

#local-contexts label > .name {
    display: block;
    padding: 6px 2em 6px 6px;
    border-radius: 3px 3px 0 0;
    border-top-width: 1px;
}

#local-contexts .language {
    font-weight: normal !important;
}

#local-contexts label, 
#local-contexts .label {
    font-weight: normal !important;
    display: flex !important;
    flex-direction: row;
}

#local-contexts label:nth-of-type(even), 
#local-contexts .label:nth-of-type(even) {
    background: rgba(0,0,0,.04);
}

.public-label {
    display: inline !important;
}

.column {
    padding: 6px;
    object-fit: contain;
    align-self: center;
}

.check {
    width: 5% !important;
    text-align: center !important;
}

.content {
    width: 93%;
}

.text {
    color: default !important;
}

.description {
    display: flex;
    flex-direction: row;
}

.local-context .image {
    height: 75px;
    border: 0px !important;
    margin-right: 1rem;
}

.public-text {
    width: auto;
}

.project-link {
    display: block;
    width: 100%;
    font-size: 16px;
    text-align: right !important;
    margin-bottom: 1rem;
}

.project-link:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

span.lc {
    font-weight: bold;
}

label > .name,
label > .description {
    margin-bottom: 6px;
}

.label > .name {
    padding: 0 2rem 0 0;
}

@media screen and (min-width: 1200px) {
    .local-context {
        width: 50%;
    }
}