#local-contexts.default {
    height: 0;
    overflow: hidden;
}

.local-contexts-notice {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    padding: 1rem;
}

.local-contexts-notice .notice-name {
    display: block;
    font-weight: bold;
}

.local-contexts-notice .language {
    font-weight: normal !important;
}

.local-contexts-input, 
.local-contexts-multicheckbox label {
    display: flex;
    align-items: flex-start;
}

.local-contexts-multicheckbox label input[type="checkbox"] {
    margin: 1rem;
}

.local-contexts-input:nth-of-type(even), 
.local-contexts-multicheckbox label:nth-of-type(even) {
    background: rgba(0,0,0,.04);
    margin: 1rem 0;
}

.local-contexts-input .check {
    width: 5% !important;
    text-align: center !important;
    margin: 1rem !important;
    align-self: flex-start;
}

.local-contexts-notice .image {
    height: 75px;
    border: 0px !important;
    margin-right: 1rem;
}

.project-link {
    display: block;
    width: 100%;
    font-size: 16px;
    text-align: right !important;
    padding: 1rem;
}

.project-name {
    padding: 1rem;
    font-weight: bold;
    display: block;
}

.project-link:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

span.lc {
    font-weight: bold;
}

@media screen and (min-width: 1200px) {
    footer .local-contexts-project {
        display: flex;
        flex-wrap: wrap;
    }

    footer .local-contexts-notice {
        width: 50%;
    }
}